body {
  background-color: rgb(255, 226, 239);
  font-family: verdana;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(174, 131, 209);
  padding: 10px;
  border: 2px solid black;
}

.logotipo {
  text-align : center;
}

.flex-container div {
  background-color: rgb(255, 167, 184);
  width: 300px;
  margin: 50px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  font-family: verdana;
  border: 2px solid black;
}

h1 {
  color: rgb(255, 167, 184);
  text-align: center;
}

h2 {
  color: rgb(0, 84, 139);
  text-align: center;
}

h3 {
  color: rgb(0, 84, 139);
  text-align: center;
}

p {
  color: rgb(174, 131, 209);
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  border: 2px solid rgb(90, 112, 240);
  padding: 30px;
}

a {
  color: rgb(5, 41, 70);
  font-family: verdana;
}
